<script type="text/javascript" src="bower_components/zebra-datepicker/public/javascript/zebra_datepicker.js"></script>
<link rel="stylesheet" href="bower_components/zebra-datepicker/public/css/bootstrap.css" type="text/css">
<script src="bower_components/chartjs/Chart.min.js"></script>
<script src="javascripts/stats.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="bower_components/flot/excanvas.min.js"></script>
<script type="text/javascript" src="bower_components/flot/jquery.flot.js"></script>


<style>
body {
     font-family: Arial;
}

#mycanvas {
     width: 700px;
     height: 500px;
}

</style>




<div class="container">
  <div id="mycanvas">
  </div>
</div>

<div class="well">
  <form class="form-horizontal">
  <div class="form-group">
    <select class="form-control" id="courtSelect">
    <option>Ford</option>
    <option>Wiley</option>
    <option>Hillenbrand</option>
    <option>Earhart</option>
    <option>Windsor</option>
    </select>
    <div class="input-append date">
    <input type="text" value="12-02-2012" id="datepicker" data-zdp-deafult_position="below" >
    <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>
</form>
</div>
